<div class="h-vh-100 d-flex flex-justify-center">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <br>
      <div class="card p-4">
        <div class="card-header">
          <h2>
            Сменить пароль пользователя <br>
            <b>{{ user.name }}</b>
          </h2>
        </div>
        <div class="card-content">

          <div class="row">
            <label class="cell-3" for="newPassword">Новый пароль</label>
            <div class="cell-9">
              <input class="form-control"
                     [ngClass]="{invalid: form.get('newPassword').invalid}"
                     id="newPassword" type="text" formControlName="newPassword">
              <small *ngIf="form.get('newPassword').errors && form.get('newPassword').errors.required" class="fg-red">
                Введите новый пароль
              </small>
            </div>

            <label class="cell-3" for="confirmPassword">Повторить пароль</label>
            <div class="cell-9">
              <input class="form-control"
                     [ngClass]="{invalid: form.get('confirmPassword').invalid && formValided()}"
                     id="confirmPassword" type="text" formControlName="confirmPassword">
              <small *ngIf="form.get('confirmPassword').errors && form.get('confirmPassword').errors.required" class="fg-red">
                Введите пароль еще раз <br>
              </small>
              <small *ngIf="!formValided()" class="fg-red">
                Пароли должны совпадать
              </small>
            </div>
          </div>

          <div class="card-footer">
              <button
                class="button success"
                type="submit"
                [disabled]="form.invalid && !formValided()">
                <span class="icon mif-floppy-disk"></span>
                Сохранить
              </button>

              <button
                class="button dark ml-2"
                type="reset"
                [routerLink]="['/users']">
                <span class="icon mif-undo"></span>
                Отменить
              </button>
            </div>
        </div>
      </div>
    </form>
</div>
