<div class="h-vh-100 d-flex flex-justify-center">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <br>
    <div class="card p-4" style="min-width: 600px">
      <div class="card-header">
        <h2>
          Лицензия <br>
          <b>{{ license ? license.serial_key : 'Не указано'}}</b>
        </h2>
      </div>
      <div class="card-content">
        <div
          *ngIf="error$ | async as error"
          class="remark alert">
          {{ error }}
        </div>

        <div class="row">
          <label class="cell-3" for="file">Файл C2V</label>
          <div class="cell-9">
            <input class="form-control"
                   [ngClass]="{invalid: form.get('file').invalid}"
                   (change)="onFileChange($event)"
                   id="file" type="file" formControlName="file">
            <small *ngIf="form.get('file').errors && form.get('file').errors.required" class="fg-red">
              Укажите файл "C2V"
            </small>
            <small *ngIf="form.valid && !sendFile" class="fg-red">
              Файл "C2V" должен содержать информацию
            </small>
          </div>

        </div>

        <div class="card-footer">
          <button
            class="button success"
            type="submit"
            [disabled]="form.invalid">
            <span class="icon mif-download"></span>
            Скачать лицензию
          </button>

          <button
            class="button dark ml-2"
            type="reset"
            [routerLink]="['/dashboard']">
            <span class="icon mif-undo"></span>
            Отменить
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
