<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Список пользователей
    <span class="place-right">
      <button
        [routerLink]="['/user', '0']"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить пользователя
      </button>
    </span>
  </h3>
  <div
    class="row h-vh-100"
    *ngIf="coresrvc.users && coresrvc.users.length;else NoData">
    <table class="table table-border row-border row-hover w-100">
      <thead>
      <tr>
        <td>Имя</td>
        <td>Роли</td>
        <td>Админ</td>
        <td>Активный</td>
      </tr>
      </thead>
      <tbody >
      <tr
        *ngFor="let user of coresrvc.users">
        <td>
          <div class="d-inline-block">
            <button
              title="Изменить запись"
              class="button primary ml-2"
              [routerLink]="['/user', user.id_user]">
              <span class="icon mif-pencil"></span>
            </button>
            <button
              title="Сбросить пароль"
              class="button primary ml-2"
              [routerLink]="['/resetpassword', user.id_user]">
              <span class="icon mif-lock"></span>
            </button>
            <button
              title="Удалить запись"
              class="button dark mx-2"
              (click)="onRemoveUserClick(user.id_user)">
              <span class="icon mif-bin"></span>
            </button>
          </div>
          <div class="d-inline-block">
            <b>{{user.login}}</b> {{user.name}}
            <div
              class="text-small text-muted"
              *ngIf="user.comment">
              {{ user.comment }}
            </div>
          </div>
        </td>
        <td>
          <ul>
            <li
              *ngFor="let role of user.roles">{{role.name}}</li>
          </ul>
        </td>
        <td>
          <span class="pos-center" [ngClass]="{
                  'fg-green': user.superuser,
                  'fg-red': !user.superuser
                }">
                  <span class="icon mif-2x" [ngClass]="{
                    'mif-checkmark': user.superuser
                  }"></span>
            </span>
        </td>
        <td>
          <span class="pos-center" [ngClass]="{
                  'fg-green': user.active,
                  'fg-red': !user.active
                }">
                  <span class="icon mif-2x" [ngClass]="{
                    'mif-thumbs-up': user.active,
                    'mif-thumbs-down': !user.active
                  }"></span>
            {{user.active ? 'Включен' : 'Выключен'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #NoData>
    <div class="remark warning">
      <h3>Пользователи отсутствуют</h3>
      <p>Необходимо заполнить справочник пользователей.</p>
    </div>
  </ng-template>
</div>
