<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Список групп клиентов
    <span class="place-right">
      <button
        [routerLink]="['/client-group', '0']"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить группу
      </button>
    </span>
  </h3>
  <div
    class="row h-vh-100"
    *ngIf="clnt.groups && clnt.groups.length;else NoGroups">
    <table class="table table-border row-border row-hover w-100">
      <thead>
      <tr>
        <td>Наименование</td>
      </tr>
      </thead>
      <tbody >
      <tr
        *ngFor="let group of clnt.groups">
        <td>
          <button
            title="Изменить запись"
            class="button primary ml-2"
            [routerLink]="['/client-group', group.id_group]">
            <span class="icon mif-pencil"></span>
          </button>
          <button
            title="Удалить запись"
            class="button dark mx-2"
            (click)="onRemoveGroupClick(group.id_group)">
            <span class="icon mif-bin"></span>
          </button>
        {{group.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #NoGroups>
    <div class="remark warning">
      <h3>Группы отсутствуют</h3>
      <p>Необходимо заполнить справочник групп клиентов.</p>
    </div>
  </ng-template>
</div>
