body {
  background: #FFF;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100vh;
}

.tree-item {
  cursor: pointer;
  overflow: hidden;
}
.tree-item-caption{
  overflow: hidden;
}
.tree-item:hover {
  font-weight: bold;
}
.tree-item.offset-0 {
  margin-left: 10px;
}
.tree-item.offset-1 {
  margin-left: 30px;
}
.tree-item.offset-2 {
  margin-left: 50px;
}
.tree-item.offset-3 {
  margin-left: 70px;
}
.tree-item.offset-4 {
  margin-left: 90px;
}
.tree-item.offset-5 {
  margin-left: 110px;
}
.tree-item.offset-6 {
  margin-left: 130px;
}
.tree-item.offset-7 {
  margin-left: 150px;
}
.tree-item.offset-8 {
  margin-left: 170px;
}
.tree-item.offset-9 {
  margin-left: 190px;
}
.tree-item.ico-none {
  margin-left: 16px;
}
.tree-item.hidden {
  display: none;
}
.tree-item.active {
  border-right: 4px solid #024ea4;
}
.js-compact .tree-item {
  margin-left: 0!important;
}
.js-compact .tree-item-caption {
  display: none;
}
.tree-item-ico {
  display: none;
}
.js-compact .tree-item-ico {
  display: inline-block;
  margin-left: 2px;
}
