.t-menu {
  background-color: transparent;
  box-shadow: none;
}

.t-menu>li>a {
  border-bottom: none;
}

.t-menu.compact li a{
  height: 30px;
  line-height: 30px;
}

.t-menu.compact li a .icon {
  line-height: 30px;
}

dl{
  margin: 0.3rem;
}

dl.horizontal dt{
  width: 8rem;
}

dl.horizontal dd {
  margin-left: 9.25rem;
}

.card {
  margin: 0;
  width: 100%;
}

.locked{
  position: absolute;
  left: 0.3rem;
  padding: 0 0.25rem;
  top: 0.3rem;
  border: 1px solid orange;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
