<div *ngIf="dataLoaded; else loadBlock">
  <div class="row">
    <table class="table row-hover">
      <tbody>
        <tr
          *ngFor="let event of events">
          <td>
            <div
              class="card grid no-gap"
              [ngClass]="{
                selected: event.selected
              }"
            >
              <div class="d-flex locked" *ngIf="event.closed === true">
                <span class="mif-lock fg-amber"
                      data-role="hint"
                      data-hint-offset = "10"
                      data-hint-position="right"
                      data-hint-text="Запись заблокирована"
                      data-cls-hint="bg-cyan fg-white drop-shadow"></span>
              </div >
              <div class="row" >
                <div class="cell"
                     (click)="onEventClick($event, event.id_event)"
                >
                  <dl class="horizontal">
<!--                    <dt>Ключ событий:</dt>-->
<!--                    <dd>{{event.id_event}}</dd>-->
                    <dt>Камера:</dt>
                    <dd>{{event.camname}}</dd>
                    <dt>Период:</dt>
                    <dd>{{event.begin_time | date:"HH:mm:ss"}} - {{event.end_time | date:"HH:mm:ss"}}</dd>
                    <dt>Длительность:</dt>
                    <dd>{{event.period_time}} сек</dd>
                    <dt>Коментарий:</dt>
                    <dd>{{event.violation_comment}}</dd>
                  </dl>
                </div>
                <div class="cell stub" style="width: 40px">
                  <div class="grid">
                    <div class="row">
                      <div class="cell">
                        <ul class="t-menu open compact">
                          <li><a (click)="onStateClick($event, event.id_event, 1)">
                                <span
                                  class="mif-thumbs-up icon"
                                  [ngClass]="{
                                    'fg-gray': event.id_state != 1,
                                    'fg-green': event.id_state == 1
                                  }"
                                  data-role="hint"
                                  data-hint-offset = "10"
                                  data-hint-position="left"
                                  data-hint-text="Запись проверена"
                                  data-cls-hint="bg-cyan fg-white drop-shadow"></span></a></li>
                          <li><a (click)="onStateClick($event, event.id_event, 2)">
                                <span
                                  class="mif-thumbs-down  icon"
                                  [ngClass]="{
                                    'fg-gray': event.id_state != 2,
                                    'fg-amber': event.id_state == 2
                                  }"
                                  data-role="hint"
                                  data-hint-offset = "10"
                                  data-hint-position="left"
                                  data-hint-text="Запись с нарушением"
                                  data-cls-hint="bg-cyan fg-white drop-shadow"></span></a></li>
                          <li><a (click)="onStateClick($event, event.id_event, 3)">
                                <span
                                  class="mif-cross icon"
                                  [ngClass]="{
                                    'fg-gray': event.id_state != 3,
                                    'fg-red': event.id_state == 3
                                  }"
                                  data-role="hint"
                                  data-hint-offset = "10"
                                  data-hint-position="left"
                                  data-hint-text="Ошибочная запись"
                                  data-cls-hint="bg-cyan fg-white drop-shadow"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
  <!--          <pre>{{event | json}}</pre>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loadBlock>
  <div class="d-flex h-vh-100 flex-justify-center">
    <div class="d-flex flex-self-center">
      <div class="d-flex" data-role="activity" data-type="cycle" data-style="color"></div>
      <p class="ml-5  ">Подождите, идет загрузка...</p>
    </div>
  </div>
</ng-template>
