<div class="card p-2 h-vh-100">
  <div *ngIf="clnt.lastSelectedClient;else noneBlock">

    <div class="card-header text-ellipsis ">
      <h3>{{clnt.lastSelectedClient.name}}
      <button
        title="Удалить клиента"
        class="button dark place-right ml-2"
        (click)="onRemoveClick()"
      ><span class="icon mif-bin"></span></button>

      <button
        title="Изменить информацию о клиенте"
        class="button primary place-right"
        [routerLink]="['/client', clnt.lastSelectedClient.id_client]"
      ><span class="icon mif-pencil"></span> </button>
      </h3>
    </div>

    <div class="card-content p-2">
      <div *ngIf="clnt.licenses.length > 0; else noneLicenses">
        <h4>
          Приобретенные лицензии
          <div class="place-right">
            <button
              [routerLink]="['/key', '0']"
              type="button" class="button success small">
              <span class="icon mif-plus"></span>
              Добавить лицензию
            </button>
          </div>
        </h4>
        <div data-role="accordion"
             data-one-frame="false"
             data-material="false"
             data-show-active="true">
          <div *ngFor="let license of clnt.licenses"
            class="frame">
            <div class="heading">
              <div class="d-inline-block">
                <p>
                  {{license.serial_key}}
                </p>
                <div
                  *ngIf="license.date_finish"
                  class="text-small"
                  [ngClass]="{
                    'fg-red': currentDate >= license.date_finish * 1000,
                    'text-muted': currentDate < license.date_finish * 1000
                  }">
                    Действителен до {{ license.date_finish * 1000 | date: 'dd.MM.yyyy'}}
                </div>
              </div>
              <div class="place-right d-inline-block">
                <span class="pos-center" [ngClass]="{
                  'fg-green': license.active,
                  'fg-red': !license.active
                }">
                  <span class="icon mif-2x" [ngClass]="{
                    'mif-thumbs-up': license.active,
                    'mif-thumbs-down': !license.active
                  }"></span>
                  {{license.active? 'Включен' : 'Выключен'}}</span>

                <button
                  title="Удалить лицензию"
                  class="button dark place-right ml-2"
                  (click)="onRemoveKeyClick(license.id_license)"
                ><span class="icon mif-bin"></span></button>

                <button
                  title="Изменить информацию о лицензии"
                  class="button primary place-right ml-2"
                  [routerLink]="['/key', license.id_license]"
                ><span class="icon mif-pencil"></span> </button>

                <button
                  title="Загрузить файл серийного ключа"
                  class="button primary place-right ml-2"
                  [routerLink]="['/serialdownload', license.id_license]"
                ><span class="icon mif-download"></span> </button>

              </div>
            </div>
            <div class="content" style="display: none;">
              <table class="mx-4">
                <tbody>
                  <tr *ngFor="let plugin of license.plugins">
                    <td class="p-2"><b>{{plugin.sysname}}</b></td>
                    <td class="p-2">{{plugin.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noneLicenses>
        <div class="remark warning">
          <h4>У клиента нет приобретенных лицензий</h4>
          <button
            [routerLink]="['/key', '0']"
            type="button" class="button success small">
            <span class="icon mif-plus"></span>
            Добавить лицензию
          </button>
        </div>
      </ng-template>

    </div>
  </div>
  <ng-template #noneBlock>
    <div class="remark warning">
        <h3>Выберите клиента</h3>
        <p>Для детальной информации выберите клиента из списка слева.</p>
    </div>
  </ng-template>
</div>
