<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Синхронизация ключей
    <span class="place-right">
      <select
        *ngIf="(groups | async) as gr"
         data-role="select" data-filter="false" class="input-small" (change)="onGroupChange($event)">
        <option *ngFor="let item of client.groups "
            [value]="item.id_group" [selected]="item.id_group === groupTarget">{{item.name}}</option>
      </select>
      <button
        (click)="onAddClick()"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить выбранные в группу
      </button>
    </span>
  </h3>
  <div *ngIf="(keysEmpty && keysEmpty.length) || (keysFill && keysFill.length);else NoKeys" class="row col-12 h-vh-100 pt-1 pb-10 overflow">
    <div
      *ngIf="keysEmpty && keysEmpty.length">
      <h4>Не зарегистрированные ключи</h4>
      <table class="table table-border row-border row-hover w-100">
        <thead>
          <tr>
            <td>
              <input type="checkbox" data-role="checkbox" data-style="2" (click)="titleCheckClick($event)">
              Ключ
            </td>
          </tr>
        </thead>
        <tbody >
          <tr
            *ngFor="let key of keysEmpty">
            <td>
              <input type="checkbox" data-role="checkbox" data-style="2"
                 [defaultChecked]="key.checked" [checked]="key.checked" (click)="checkClick(key)">
              {{key.serialKey}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="keysFill && keysFill.length">
      <h4>Зарегистрированные ключи</h4>
      <table class="table table-border row-border row-hover w-100">
        <thead>
          <tr>
            <td>Ключ</td>
            <td>Клиент</td>
          </tr>
        </thead>
        <tbody >
          <tr
            *ngFor="let key of keysFill">
            <td>
              {{key.serialKey}}</td>
            <td>
              {{key.client.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #NoKeys>
    <div class="remark warning">
      <h3>Информация о ключах не доступна</h3>
      <p>Возможно она еще не загрузилась, подождите немного...</p>
    </div>
  </ng-template>
</div>
