<div class="card h-vh-100">
  <button
    type="button"
    class="button success m-3 small"
    [routerLink]="['/client', '0']">
    <span class="icon mif-plus"></span>
    Добавить клиента
  </button>
  <ul
    class="p-1 col-12"
    style="overflow-x: auto; overflow-y: hidden"
    id="clients"
    data-role="listview"
    data-view="list"
    data-selectable="true">
    <li
      *ngFor="let group of clnt.groups"
      [attr.data-caption]="group.name"
      class="node-group current-group expanded">
      <div class="data"><div class="caption">{{group.name}}</div></div>
      <ul>
        <div *ngFor="let client of clnt.clients">
          <li *ngIf="client.id_group === group.id_group"
              (click)="onClientClick(client.id_client)"
              [ngClass]="{'current current-select': client.id_client === clnt.lastSelectedClientId}"
              class="node">
            <span class="icon">
              <span class="mif-news fg-orange"></span>
            </span>
            <div class="data"><div class="caption">{{client.name}}</div></div>
          </li>
        </div>
      </ul>
      <span class="node-toggle"></span>
    </li>
  </ul>
</div>
