.client-aligment {
  width: 250px;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 5rem);
  flex: 0 1 320px;
}

.client-group {
  width: 100%;
  background-color: #eee;
  border: 1px solid #4b626d;
  cursor: pointer;
  font-weight: bold;
  padding: 0.2rem;
}

.client {
  width: 100%;
  cursor: pointer;
  padding: 0.2rem;
  &.active {
    background-color: var(--selected-color);
  }
}
