<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Список прав
    <span class="place-right">
      <button
        [routerLink]="['/right', '0']"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить право
      </button>
    </span>
  </h3>
  <div
    class="row h-vh-100"
    *ngIf="coresrvc.rights && coresrvc.rights.length;else NoData">
    <table class="table table-border row-border row-hover w-100">
      <thead>
      <tr>
        <td>Системное имя</td>
        <td>Наименование</td>
      </tr>
      </thead>
      <tbody >
      <tr
        *ngFor="let right of coresrvc.rights">
        <td>
          <button
            title="Редаткировать запись"
            class="button primary ml-2"
            [routerLink]="['/right', right.id_right]">
            <span class="icon mif-pencil"></span>
          </button>
          <button
            title="Удалить запись"
            class="button dark mx-2"
            (click)="onRemoveRightClick(right.id_right)">
            <span class="icon mif-bin"></span>
          </button>
          {{right.sysname}}</td>
        <td>{{right.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #NoData>
    <div class="remark warning">
      <h3>Права отсутствуют</h3>
      <p>Необходимо заполнить справочник прав.</p>
    </div>
  </ng-template>
</div>
