<form [formGroup]="formGroup" (ngSubmit)="onFilterClick()">
  <m4-form-control-wrapper label="Password">
    <m4-calendar
      formControlName="filterDate"
    ></m4-calendar>
  </m4-form-control-wrapper>

  <button type="submit" class="button">Фильтровать</button>
</form>
