<div class="h-vh-100 d-flex flex-justify-center">
  <div *ngIf="form; else loading" class="w-100">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <br>
      <div class="card p-4">
        <div class="card-header">
          <h2>
            Карточка счета

            <span class="place-right">
              <button
                class="button success"
                type="submit"
                [disabled]="form.invalid || submited">
                <span class="icon mif-floppy-disk"></span>
                Сохранить
              </button>

              <button
                class="button dark ml-2"
                type="reset"
                [routerLink]="['/pays']">
                <span class="icon mif-undo"></span>
                Отменить
              </button>
            </span>
          </h2>
        </div>
        <div class="card-content">

          <div class="row">
            <div class="cell-6 pr-2">
              <h4>Счет на оплату</h4>
              <div class="row">
                <label class="cell-4" for="plan_number">Номер счета</label>
                <div class="cell-8">
                  <input class="form-control"
                         [ngClass]="{invalid: form.get('plan_number').invalid}"
                         id="plan_number" type="text" formControlName="plan_number">
                  <small *ngIf="form.get('plan_number').errors && form.get('plan_number').errors.required" class="fg-red">
                    Введите номер счета
                  </small>
                </div>

                <label class="cell-4" for="plan_date">Дата выставления</label>
                <div class="cell-8">
                  <input class="form-control"
                         [ngClass]="{invalid: form.get('plan_date').invalid}"
                         id="plan_date" type="date" formControlName="plan_date">
                  <small *ngIf="form.get('plan_date').errors && form.get('plan_date').errors.required" class="fg-red">
                    Введите дату выставления счета
                  </small>
                </div>
              </div>
            </div>

            <div class="cell-6 pl-2">
              <h4>Оплата счета</h4>
              <div class="row">
                <label class="cell-4" for="fact_number">Номер документа</label>
                <div class="cell-8">
                  <input class="form-control" id="fact_number" type="text" formControlName="fact_number">
                </div>

                <label class="cell-4" for="fact_date">Дата оплаты</label>
                <div class="cell-8">
                  <input class="form-control" id="fact_date" type="date" formControlName="fact_date">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="cell-2" for="fact_number">Примечание</label>
            <div class="cell-10">
              <input class="form-control" id="comment" type="text" formControlName="comment">
            </div>
          </div>

          <hr>
          <h4>Содержимое счета (Сумма по счету: {{paySum()}})</h4>
          <table class="table w-100">
            <thead>
              <tr>
                <td>#</td>
                <td>Наименование показателя</td>
                <td>Номер лицензии</td>
                <td>Сумма</td>
                <td> </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of payRowsVisivle(); let idx = index">
                <td>{{idx + 1}}</td>
                <td>
                  <input
                    id="name_{{row.id_pay_row}}"
                    type="text"
                    [value]="row.name"
                    placeholder="Введите наименование показателя"
                    (change)="onRowNameChange(row.id_pay_row, $event)"
                  >
                </td>
                <td>
                  <select
                    id="serial_{{row.id_pay_row}}"
                    placeholder="Выберите номер лицензии"
                    (change)="onRowSerialChange(row.id_pay_row, $event)">
                    <option
                      [selected]="row.serial_key === ''"
                    ></option>
                    <option
                      *ngFor="let license of licenses"
                      [selected]="license.serial_key === row.serial_key"
                      >{{license.serial_key}}</option>
                  </select>
                </td>
                <td>
                  <input
                    id="sum_{{row.id_pay_row}}"
                    type="number"
                    [value]="row.sum"
                    placeholder="Введите сумму"
                    (change)="onRowSumChange(row.id_pay_row, $event)"
                  >
                </td>
                <td>
                  <button class="button dark" (click)="removeRow(row.id_pay_row)">
                    <span class="icon mif-bin"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button success" (click)="addRow()">Добавить позицию</button>
        </div>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
  </ng-template>
</div>
