<div class="text-center tree-item-caption"><h4>Смарт фильтры</h4></div>
<div
  *ngFor="let item of smartFilters"
  class="tree-item offset-{{item.level}}"
  [ngClass]="{'hidden': !item.visible,
  'active': item.active}">
  <span
    [ngClass]="{
      'mif-folder-open expanded': item.hasChildren && item.expanded,
      'mif-folder collapsed': item.hasChildren && !item.expanded,
      'mif-file-text': !item.hasChildren
    }"
    (click)="treeExpandButtonClick(item.id_smart_filter)"></span>
  <span
    class="tree-item-ico"
    title="{{item.name}}"
    (click)="treeItemClick(item.id_smart_filter)">
    {{item.short}}
  </span>
  <span class="tree-item-caption"
    (click)="treeItemClick(item.id_smart_filter)">
    {{item.name}}
  </span>
</div>
