<div *ngIf="form; else loading" class="w-75 mx-auto">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="card p-4" style="overflow: auto">
      <div class="card-header">
        <h2>
          Карточка лицензии
          <div class="place-right">
            <button
              class="button success"
              type="submit"
              [disabled]="form.invalid || submited">
              <span class="icon mif-floppy-disk"></span>
              Сохранить
            </button>

            <button
              class="button dark ml-2"
              type="reset"
              [routerLink]="['/dashboard']">
              <span class="icon mif-undo"></span>
              Отменить
            </button>
          </div>
        </h2>
        <div class="remark alert" *ngIf="error$ | async as error">
          <b>Ошибка сохранения</b>
          <p>{{error}}</p>
        </div>
      </div>

      <div>
        <div
          [ngClass]="{invalid: form.get('serialKey').invalid}">
          <div class="row">
            <label class="cell-3" for="serialKey">Серийный ключ</label>
            <div class="cell-9">
              <input type="text" id="serialKey" formControlName="serialKey" class="form-control" readonly="true">
              <div
                *ngIf="form.get('serialKey').invalid"
                class="fg-red">
                <small *ngIf="form.get('serialKey').errors.required">
                  Укажите серийный ключ
                </small>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <label class="cell-3" for="dateFinish">Действителен до</label>
            <div class="cell-9">
              <input id="dateFinish" formControlName="dateFinish" type="date" class="form-control">
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <label class="cell-3" for="isActive">Активный</label><br>
            <div class="cell-9">
              <input id="isActive" type="checkbox" data-role="switch" formControlName="isActive" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <hr>
      <h5>Список модулей</h5>
      <div
        *ngFor="let plugin of this.plugins">
          <div class="row">
            <div class="cell-12">
              <input id="plugin_{{plugin.sysname}}" type="checkbox" data-role="switch" [checked]="licenseContainPlugin(plugin.id_plugin)"
                      formControlName="plugin_{{plugin.sysname}}">
              <div class="d-inline-block">
                <b>{{plugin.sysname}}</b> {{plugin.name}}
                <span
                  *ngIf="plugin.comment && plugin.comment !== ''"
                  class="text-small text-muted">
                  <br>{{plugin.comment}}
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
