<div class="container-fluid" style="padding: 52px 0 0 0">
  <div data-role="navview" style="height: calc(100vh - 54px); overflow: auto;">
    <div class="navview-pane">
      <button class="pull-button">
        <span class="default-icon-menu"></span>
      </button>
      <app-smart-fitlers></app-smart-fitlers>
    </div>

    <div class="navview-content">
      <div class="grid no-gap">
        <div class="row">
          <ul class="h-menu">
            <li style="padding: 7px"><input
                    id="filter-date"
                    type="date"
                    class="input-small"
                    required="true"
                    [valueAsDate]="filterDate"
                    (change)="onDateClick($event)"></li>
              <li class="divider"></li>
              <li class="bg-gray"><a href="#">
                <span class="mif-event-available"></span>
                <span class="d-none-fs d-inline-block-lg">События</span>
              </a></li>
              <li><a href="#">
                <span class="mif-automobile"></span>
                <span class="d-none-fs d-inline-block-lg">Автомобили</span>
              </a></li>
              <li><a href="#">
                <span class="mif-users"></span>
                <span class="d-none-fs d-inline-block-lg">Персонажи</span>
              </a></li>
              <li><a href="#">
                <span class="mif-cart"></span>
                <span class="d-none-fs d-inline-block-lg">Кассы</span>
              </a></li>
              <li><a href="#">
                <span class="mif-equalizer"></span>
                <span class="d-none-fs d-inline-block-lg">Статистика</span>
              </a></li>
          </ul>
        </div>
        <div class="row">
          <div class="cell-5" style="padding: 0; height: calc(100vh - 94px); overflow: auto;">
            <app-events></app-events>
          </div>
          <div class="cell-7">
            <video
              *ngIf="eventsService.eventId > 0"
              poster="http://192.168.10.14:7120/photo/{{eventsService.eventId}}"
              data-role="video"
              data-logo="./assets/images/cvc_logo.svg"
              data-logo-height="24"
              data-controls-hide="0"
              data-autoplay="true"
              data-src="http://192.168.10.14:7120/video/{{eventsService.eventId}}">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


