<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Список модулей
    <span class="place-right">
      <button
        [routerLink]="['/plugin', '0']"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить плагин
      </button>
    </span>
  </h3>
  <div
    class="row h-vh-100"
    *ngIf="clnt.plugins && clnt.plugins.length;else NoPlugins">
    <table class="table table-border row-border row-hover w-100">
      <thead>
        <tr>
          <td>Системное имя</td>
          <td>Наименование</td>
          <td>Примечание</td>
        </tr>
      </thead>
      <tbody >
        <tr
          *ngFor="let plugin of clnt.plugins">
          <td>
          <button
            title="Изменить запись"
            class="button primary ml-2"
            [routerLink]="['/plugin', plugin.id_plugin]">
              <span class="icon mif-pencil"></span>
          </button>
          <button
            title="Удалить запись"
            class="button dark mx-2"
            (click)="onRemovePluginClick(plugin.id_plugin)">
              <span class="icon mif-bin"></span>
          </button>
          {{plugin.sysname}}</td>
          <td>{{plugin.name}}</td>
          <td>{{plugin.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #NoPlugins>
    <div class="remark warning">
      <h3>Модули отсутствуют</h3>
      <p>Необходимо заполнить справочник модулей.</p>
    </div>
  </ng-template>
</div>
