<div class="h-vh-100 d-flex flex-justify-center">
  <div *ngIf="form; else loading" class="w-100">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <br>
      <div class="card p-4">
        <div class="card-header">
          <h2>
            Карточка пользователя

            <span class="place-right">
              <button
                class="button success"
                type="submit"
                [disabled]="form.invalid || submited">
                <span class="icon mif-floppy-disk"></span>
                Сохранить
              </button>

              <button
                class="button dark ml-2"
                type="reset"
                [routerLink]="['/users']">
                <span class="icon mif-undo"></span>
                Отменить
              </button>
            </span>
          </h2>
        </div>
        <div class="card-content">

          <div class="row">
            <label class="cell-3" for="login">Логин</label>
            <div class="cell-9">
              <input class="form-control"
                     [ngClass]="{invalid: form.get('login').invalid}"
                     id="login" type="text" formControlName="login">
              <small *ngIf="form.get('login').errors && form.get('login').errors.required" class="fg-red">
                Введите логин
              </small>
            </div>

            <label class="cell-3" for="name">Фамилия, И.О.</label>
            <div class="cell-9">
              <input class="form-control"
                     [ngClass]="{invalid: form.get('name').invalid}"
                     id="name" type="text" formControlName="name">
              <small *ngIf="form.get('name').errors && form.get('name').errors.required" class="fg-red">
                Введите Фамилию, Имя и Отчество пользователя
              </small>
            </div>

            <label class="cell-3" for="comment">Примечание</label>
            <div class="cell-9">
              <input class="form-control"
                     id="comment" type="text" formControlName="comment">
            </div>

            <label class="cell-3" for="superuser">Администратор</label>
            <div class="cell-9">
              <input class="form-control"
                     id="superuser" type="checkbox" data-role="switch" formControlName="superuser">
            </div>

            <label class="cell-3" for="active">Активный</label>
            <div class="cell-9">
              <input class="form-control"
                     id="active" type="checkbox" data-role="switch" formControlName="active">
            </div>
          </div>

          <hr>
          <h5>Список ролей</h5>
          <div
            *ngFor="let role of coresrv.roles">
            <div class="row">
              <div class="cell-12">
                <input id="role_{{role.id_role}}" type="checkbox" data-role="switch" [checked]="roleContainUser(editItem.roles, role.id_role)"
                       formControlName="role_{{role.id_role}}">
                <div class="d-inline-block">
                  {{ role.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
  </ng-template>
</div>
