<div class="grid h-vh-100 p-4">
  <h3 class="my-0">
    Список ролей
    <span class="place-right">
      <button
        [routerLink]="['/role', '0']"
        type="button" class="button success small">
        <span class="icon mif-plus"></span>
        Добавить роль
      </button>
    </span>
  </h3>
  <div
    class="row h-vh-100"
    *ngIf="coresrvc.roles && coresrvc.roles.length;else NoData">
    <table class="table table-border row-border row-hover w-100">
      <thead>
      <tr>
        <td>Наименование</td>
        <td>Права</td>
      </tr>
      </thead>
      <tbody >
      <tr
        *ngFor="let role of coresrvc.roles">
        <td>
          <button
            title="Изменить запись"
            class="button primary ml-2"
            [routerLink]="['/role', role.id_role]">
            <span class="icon mif-pencil"></span>
          </button>
          <button
            title="Удалить запись"
            class="button dark mx-2"
            (click)="onRemoveRoleClick(role.id_role)">
            <span class="icon mif-bin"></span>
          </button>
          {{role.name}}</td>
        <td>
          <ul>
            <li
              *ngFor="let right of role.rights">{{right.name}}</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #NoData>
    <div class="remark warning">
      <h3>Права отсутствуют</h3>
      <p>Необходимо заполнить справочник прав.</p>
    </div>
  </ng-template>
</div>
