<div class="grid h-vh-100">
  <div class="row h-vh-100">
    <div class="col-4 pl-2 pt-2 pr-0">
      <app-client-list
        (select)="setClientView($event)"
      ></app-client-list>
    </div>

    <div class="col-8 pr-2 pt-2 pl-0">
      <app-pay-view></app-pay-view>
    </div>
  </div>
</div>
