<div class="card p-2 h-vh-100">
  <div *ngIf="clnt.lastSelectedClient;else noneBlock">

    <div class="card-header text-ellipsis ">
      <h3>{{clnt.lastSelectedClient.name}}
        <button
          title="Удалить клиента"
          class="button dark place-right ml-2"
          (click)="onRemoveClientClick(clnt.lastSelectedClientId)"
        ><span class="icon mif-bin"></span></button>

        <button
          title="Изменить информацию о клиенте"
          class="button primary place-right"
          [routerLink]="['/client', clnt.lastSelectedClient.id_client]"
        ><span class="icon mif-pencil"></span> </button>
      </h3>
    </div>

    <div class="card-content p-2">
      <div *ngIf="clnt.pays.length > 0; else noneData">
        <h4>
          Выставленные и оплаченные счета
          <div class="place-right">
            <button
              [routerLink]="['/pay', '0']"
              type="button" class="button success small">
              <span class="icon mif-plus"></span>
              Добавить оплату
            </button>
          </div>
        </h4>
        <div data-role="accordion"
             data-one-frame="false"
             data-material="false"
             data-show-active="true">
          <div *ngFor="let pay of clnt.pays"
               class="frame">
            <div class="heading">
              <table class="w-100">
                <tr>
                  <td class="w-33 v-center"><b>Счет на оплату</b> {{pay.plan_number}} от {{pay.plan_date * 1000 | date: 'dd.MM.yyyy'}}</td>
                  <td class="w-33 v-center"><b>Оплата</b> {{pay.fact_number}} от {{pay.fact_date * 1000 | date: 'dd.MM.yyyy'}}</td>
                  <td class="v-center"><b>Сумма</b> {{pay.sum}}</td>
                  <td class="" rowspan="2">
                    <button
                      class="button dark place-right ml-2"
                      (click)="onRemoveClick(pay.id_pay)"
                    ><span class="icon mif-bin"></span></button>

                    <button
                      class="button primary place-right ml-10"
                      [routerLink]="['/pay', pay.id_pay]"
                    ><span class="icon mif-pencil"></span> </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="content" style="display: none;" *ngIf="pay.payRows">
              <div
                *ngIf="pay.comment"
                class="remark warning">
                <b>Примечание</b>: {{pay.comment}}
              </div>
              <table class="mx-4 w-100">
                <tbody>
                <tr *ngFor="let row of pay.payRows">
                  <td class="p-2">{{row.name}} {{row.serial_key}}</td>
                  <td class="p-2" style="width: 4rem">{{row.sum}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noneData>
        <div class="remark warning">
          <h4>У клиента нет выставленных или оплаченных счетов</h4>
          <button
            [routerLink]="['/pay', '0']"
            type="button" class="button success small">
            <span class="icon mif-plus"></span>
            Добавить оплату
          </button>
        </div>
      </ng-template>

    </div>
  </div>
  <ng-template #noneBlock>
    <div class="remark warning">
      <h3>Выберите клиента</h3>
      <p>Для детальной информации выберите клиента из списка слева.</p>
    </div>
  </ng-template>
</div>
