<div data-role="navview">
  <div class="navview-pane text-ellipsis">
    <div class="d-flex flex-align-center">
<!--      Кнопка сворачивания/разворачивания-->
      <button class="pull-button">
        <span class="default-icon-menu"></span>
      </button>
      <h4 class="text-light m-0 pl-2" style="line-height: 52px">
        <span [routerLink]="['/']">Сервер лицензий</span>
      </h4>
    </div>
<!--    Информация о пользователе-->
    <div class="suggest-box" *ngIf="auth.isAuthenticated()">
      <div class="data-box ">
        <span class="mif-user mif-2x ml-4"></span>
        <div class="ml-4 avatar-title flex-column">
          <p class="d-block text-medium no-decor reduce-1">{{ auth.authUser? auth.authUser.name : 'Не определен' }}</p>
          <p class="text-small m-0">{{ auth.authUser? auth.authUser.login : 'Не определен' }}</p>
        </div>
      </div>
      <span class="mif-user mif-2x holder pl-3"></span>
    </div>

    <ul class="navview-menu" *ngIf="auth.isAuthenticated()">
<!--    Раздел учет-->
      <li class="item-header">Управление</li>

      <li
        [ngClass]="{active: router.url === '/dashboard'}"
        *ngIf="auth.hasRight([auth.constRights.licenses])">
        <a [routerLink]="['/dashboard']">
          <span class="icon"><span class="mif-users"></span></span>
          <span class="caption">Клиенты</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/pays'}"
        *ngIf="auth.hasRight([auth.constRights.pay])">
        <a [routerLink]="['/pays']">
          <span class="icon"><span class="mif-money"></span></span>
          <span class="caption">Оплата</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/key-sync'}"
        *ngIf="auth.hasRight([auth.constRights.licenses])">
        <a [routerLink]="['/key-sync']">
          <span class="icon"><span class="mif-key"></span></span>
          <span class="caption">Синхронизация ключей</span>
        </a>
      </li>

      <li class="item-separator"></li>
      <!--    Раздел настройки-->
      <li class="item-header">Настройки</li>

      <li
        [ngClass]="{active: router.url === '/client-groups'}"
        *ngIf="auth.hasRight([auth.constRights.superuser])">
        <a [routerLink]="['/client-groups']">
          <span class="icon"><span class="mif-folder"></span></span>
          <span class="caption">Группы клиентов</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/plugins'}"
        *ngIf="auth.hasRight([auth.constRights.superuser])">
        <a [routerLink]="['/plugins']">
          <span class="icon"><span class="mif-dropbox"></span></span>
          <span class="caption">Модули</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/roles'}"
        *ngIf="auth.hasRight([auth.constRights.superuser])">
        <a [routerLink]="['/roles']">
          <span class="icon"><span class="mif-user-secret"></span></span>
          <span class="caption">Роли</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/rights'}"
        *ngIf="auth.hasRight([auth.constRights.superuser])">
        <a [routerLink]="['/rights']">
          <span class="icon"><span class="mif-user-check"></span></span>
          <span class="caption">Права</span>
        </a>
      </li>

      <li
        [ngClass]="{active: router.url === '/users'}"
        *ngIf="auth.hasRight([auth.constRights.superuser])">
        <a [routerLink]="['/users']">
          <span class="icon"><span class="mif-user"></span></span>
          <span class="caption">Пользователи</span>
        </a>
      </li>

      <li class="item-separator"></li>

      <li>
        <a (click)="logout($event)">
          <span class="icon"><span class="mif-exit fg-red"></span></span>
          <span class="caption">Выйти</span>
        </a>
      </li>
    </ul>

    <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse"
         style="position: absolute; bottom: 0;">
      <div>© 2020 <a href="mailto:support@cvcontrol.tech" class="text-muted fg-white-hover no-decor">Cyber Vision Control</a></div>
    </div>
  </div>

  <div class="navview-content  bg-grayWhite">
    <router-outlet></router-outlet>
  </div>
</div>
