<div class="h-vh-100 d-flex flex-justify-center flex-align-center">
  <form class="card p-4" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Вход в систему</h2>

    <div  class="remark alert" *ngIf="auth.error$ | async as error">
      {{ error }}
    </div>
    <div  class="remark alert" *ngIf="message">
      {{ message }}
    </div>

    <div
      class="form-group"
      [ngClass]="{invalid: form.get('email').invalid}"
    >
      <label for="email">Логин</label>
      <input id="email" type="email" formControlName="email" class="form-control">
      <div
        *ngIf="form.get('email').invalid"
        class="fg-red">
        <small *ngIf="form.get('email').errors.required">
          Введите логин
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input id="password" type="password" formControlName="password" class="form-control">
    </div>

    <button
      type="submit"
      class="button primary mt-4"
      [disabled]="form.invalid || submitted"
    >Войти</button>
  </form>
</div>
