<div class="h-vh-100 d-flex flex-justify-center">
  <div *ngIf="form; else loading" class="w-100">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <br>
      <div class="card p-4">
        <div class="card-header">
          <h2>
            Карточка роли

            <span class="place-right">
              <button
                class="button success"
                type="submit"
                [disabled]="form.invalid || submited">
                <span class="icon mif-floppy-disk"></span>
                Сохранить
              </button>

              <button
                class="button dark ml-2"
                type="reset"
                [routerLink]="['/roles']">
                <span class="icon mif-undo"></span>
                Отменить
              </button>
            </span>
          </h2>
        </div>
        <div class="card-content">

          <div class="row">
            <label class="cell-3" for="name">Наименование роли</label>
            <div class="cell-9">
              <input class="form-control"
                     [ngClass]="{invalid: form.get('name').invalid}"
                     id="name" type="text" formControlName="name">
              <small *ngIf="form.get('name').errors && form.get('name').errors.required" class="fg-red">
                Введите наименование роли
              </small>
            </div>
          </div>

          <hr>
          <h5>Список прав</h5>
          <div
            *ngFor="let right of coresrv.rights">
            <div class="row">
              <div class="cell-12">
                <input id="right_{{right.sysname}}" type="checkbox" data-role="switch" [checked]="rightContainRole(editItem.rights, right.id_right)"
                  formControlName="right_{{right.sysname}}">
                <div class="d-inline-block">
                  <b>{{right.sysname}}</b> {{right.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
  </ng-template>
</div>
