<div class="h-vh-100 d-flex flex-justify-center">
  <div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <br>
      <div class="card p-4">
        <div class="card-header">
          <h2>
            Карточка клиента

            <div class="place-right">
              <button
                class="button success"
                type="submit"
                [disabled]="form.invalid || submited">
                <span class="icon mif-floppy-disk"></span>
                Сохранить
              </button>

              <button
                class="button dark ml-2"
                type="reset"
                [routerLink]="[this.lastNavigate]">
                <span class="icon mif-undo"></span>
                Отменить
              </button>
            </div>
          </h2>
        </div>
        <div class="card-content">

          <div class="row">
            <label class="cell-3" for="name">Наименование клиента</label>
            <div class="cell-9">
              <input class="form-control"
                [ngClass]="{invalid: form.get('name').invalid}"
                id="name" type="text" formControlName="name">
              <small *ngIf="form.get('name').errors && form.get('name').errors.required" class="fg-red">
                Введите наименование клиента
              </small>
            </div>
          </div>

          <div class="row">
            <label class="cell-3" for="id_group">Группа</label>
            <div class="cell-9">
              <select id="id_group" formControlName="id_group"
                      [ngClass]="{invalid: form.get('id_group').invalid}">
                <option
                  *ngFor="let group of groups"
                  value="{{ group.id_group }}"
                  [selected]="client && (client.id_group === group.id_group)">
                  {{ group.name }}
                </option>
              </select>
              <div
                *ngIf="form.get('id_group').invalid"
                class="validation">
                <small *ngIf="form.get('id_group').errors && form.get('id_group').errors.required" class="fg-red">
                  Укажите группу
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
  </ng-template>
</div>
